{% extends 'page.html' %}

{% block page_title %}Code Hardcorius{% endblock %}

{% block page_content %}

<p><a href='/people/ruliov' class='communa-color'>Мне</a> просто нравится ездить на велосипеде.</p>
<p>И я решил <a href='http://bike.muna.by/'>логировать все пути</a>, по которым я проезжал на велосипеде. Чтобы знать, где я ещё не был и сколько проехал.</p>
<p>Так и появилась идея этого проекта. Если это будет нужно, я предоставлю кому-нибудь помимо меня вести подобный журнал.</p>

{% endblock%}
