{% extends 'page.html' %}

{% block page_title %}chat++{% endblock %}

{% block page_content -%}

<p>Так уж вышло, что я использую социальную сеть «вконтакте». И крайне много времени веду различные диалоги. Иногда с другими программистами/не очень и время от времени возникает необходимость отправить и обсудить некоторый код.</p>
<p>Так вот, их парсер ест пробелы из-за чего все оступы исчезают, что довольно плохо. Скайп, вот, например, не питается пробелами, но всё равно там нет подсветки кода.</p>
<p>Есть вариант, например, отправлять код на какой-нибудь <a href='https://gist.github.com'>gist</a>/<a href='http://pastie.org/'>pastie</a>, а потом давать ссылку собеседнику, но проблема в том, что это как-то неправильно. Если тебе нужно показать четыре строчки, зачем создавать целую новую страницу? Да и всё это долго, неудобно при большом кол-ве кусочков. Ну и переключаться ещё нужно с диалога на код, чтобы посмотреть, о чём я там говорю.</p>
<p>Почему бы не создать отдельный сервис, где можно было бы крайне просто создать диалог, раздать всем его участникам ссылки на него и обсуждать код там?</p>
<p>Чтобы можно было писать сообщения, обмениваться кусочками кода, который бы подсвечивался, нумеровался, можно было прокомментировать какую-нибудь линию и т.д.</p>

{%- endblock%}
