{% extends 'page.html' %}

{% block page_title %}Code Hardcorius{% endblock %}

{% block page_content %}

<p><a href='/people/ruliov' class='communa-color'>Я</a> давно хотел изложить свои знания относительно программирования, быть может они кому-нибудь могут помочь. Потому что я лентяй и самому их использовать получается плохо.</p>
<p>Сначала я написал 11 постов в созданный блог. Но эта затея провалилась.</p>
<p>Но 24 мая 2013 года я начал создавать <a href='http://code.muna.by'>что-то вроде книги</a>.</p>

{% endblock%}
