{% extends 'page.html' %}

{% block page_title %}Code Hardcorius{% endblock %}

{% block page_content %}

<p>Я давно хотел изложить свои знания относительно программирования, быть может они кому-нибудь могут помочь.</p>
<p>Так появился блог <a href='http://codehardcorius.blogspot.com/'>Code Hardcorius</a>.</p>
<p>Лично для меня программирование это больше, чем продумывание архитектуры и написание кода. Для меня это стиль жизни, взгляд на мир, можно сказать, даже что-то около философии.</p>
<p>Мне понравилась эта цитата:</p>
<blockquote>Математики думают, что Бог в уравнениях, нейрологи уверены, что Бог в мозге, а программисты уверены, что Бог — один из них. <small>Говорят, Морган Фриман, но я не уверен. Очень не уверен.</small></blockquote>

{% endblock%}
