{% extends 'page.html' %}

{% block page_title %}Codex Hardcorius{% endblock %}

{% block page_content %}

<p>Личный проект <a href='/people/ruliov' class='communa-color'>Александра Рулёва</a>. Проект с довольно богатой, но, по большей части приватной историей.</p>
<p>В конце 2012 года (примерно около конца света) существовала «старая» версия Кодекса, намного более ёмкая и интересная, чем текущая. Она состояла из значительного количества мной написанного текста о жизни, Вселенной и всего такого.</p>
<p>Но за короткое время текст того Кодекса рассинхронизировался с моим сознанием и его пришлось экстерминировать.</p>
<p>И появилась более <a href='http://s3-eu-west-1.amazonaws.com/codex/codex.html'>нейтральная версия Кодекса</a>.</p>
<p>В данное время он практически ничего не содержит, но определения, данные в нём не позволяют мне «испортиться» и из них много чего следует.</p>
<p>Когда я впадаю в крайне сложное состояние, я анализирую, что является причиной его возникновения, разбираюсь в проблеме и вношу в Кодекс соответствующее определение, которое препятствует повторению инцидента.</p>
<p>Таки дела.</p>

{% endblock%}
