{% extends 'page.html' %}

{% block page_title %}photon.js{% endblock %}

{% block page_content %}

<p>Всё началось с того, что я начал писать сайт <span class='communa-color'>Коммуны</span>. Я использовал для этого <a href='http://expressjs.com/'>express.js</a>.</p>
<p>Я использовал, да и сейчас использую от него… практически ничего. Подавляющая часть того, что мне нужно есть в <a href='http://www.senchalabs.org/connect/'>connect.js</a> (Express есть расширение Connect'а).</p>
<p>А потом я начал реализовывать <a href='/projects/tags'>&lt;Теги&gt;*</a>, мне понадобились всякие там авторизации, сессии, прочее. Я хотел сделать сессии авторизации с <a href='http://redis.io/'>Redis</a>-бекэндом, но потерпел крах, когда хотел добавить запросу свойство auth. Оказалось, что Express перехватывает его изменение и делает что-то страшное.</p>
<p>Это мне не понравилось и я решил написать свой велосипед. Который бы так же был расширением Connect'а, однако ничего бы не делал без разрешения. Т.е. это будет «vanilla» Connect, кроме добавленного метода .extend, который позволит изменять поля самого приложения. Ну и всё остальное так же.</p>
<p>Более прозрачный контроль за включёнными фичами, в общем.</p>
<p>Поделие есть в <a href='https://npmjs.org/package/photon'>регистре NPM</a> и так же можно посмотреть код на <a href='https://github.com/Rulexec/photon'>гитхабе</a>.</p>

{% endblock%}
