{% extends 'page.html' %}

{% block page_title %}Рулетка{% endblock %}

{% block page_content -%}

<p>На стыке 2010 и 2011 годов я реализовал небольшой сервис, под названием «Тудурулетка». Суть была в том, что там были случайные короткие ответы на вопрос «Что делать?», которые можно было случайно показывать.</p>
<p>Затем я добавил ещё «фанты» туда.</p>
<p>Но почему-то я расстроился, когда увидел, что сервис в похожей тематике является намного более популярным. И я закрыл Тудурулетку.</p>
<p>Рулетка будет возрождением предыдущей, только в более общей форме. Она будет одновременно и немного развлекательным и полезным сервисом. Дадим пользователям возможность создавать публичные/приватные категории и добавлять туда различные варианты.</p>
<p>Т.е. пользователь, зарегистрировавшись сможет создать, например, свой список todo'шек, которые никто не будет видеть и случайным образом выбирать из них случайную и удалять, если выполнил. Или какие-либо другие категории.</p>
<p>Ну и публичные категории, вроде «Что делать?», «Какой фильм посмотреть?» и т.д.</p>

{%- endblock%}
