{% extends 'page.html' %}

{% block page_title %}&lt;Теги&gt;*{% endblock %}

{% block page_content -%}

<p>Проект, начатый ночью 23 апреля 2013 года. Идея крайне проста — человек регистрируется на сервисе, охарактеризовывает себя тегами (просто некими словами).</p>
<p>Т.е. я мог бы сказать, что я это: Беларусь, Брест, парень, 19, программирование, javascript, node.js.</p>
<p>Ну а потом можно делать пересечения множеств тегов и находить интересных людей, которые указали то, что ты ищешь. Например, нужен тебе веб-дизайнер, ты и ищешь: Беларусь, Брест, дизайн, веб.</p>
<p>Был реализован прототип проекта, а затем, 12 мая 2013 года проект был закрыт.</p>
<p>А потом можно будет добавлять всякие фичи. Например, возможность создавать какие-либо сообщения/предложения, тоже с кучей тегов. Как твиттер, только с местом для дюжины тегов, по которым можно найти вполне себе релевантные сообщения.</p>
<p><small>* — рабочее название</small></p>

{%- endblock%}
