{% extends 'page.html' %}

{% block page_title %}wiki.js{% endblock %}

{% block page_content %}

<p>Не слишком чтобы и проект, просто чтобы не смотрелось совсем пусто.</p>
<p>Исходники можно найти на <a href='https://github.com/Rulexec/wiki.js'>гитхабе</a>. Пощупать можно почти <a href='http://rulexec.github.io/wiki.js/'>там же</a>. Не советую использовать, т.к. данные хранятся локально и при обновлениях я могу запросто всё сломать.</p>
<p>Как получилось. Искал, что бы такое сделать, наткнулся на <a href='http://artsofte.ru/vacancies/javascript'>вакансию от Artsofte</a>. Там было тестовое задание, создать «wiki-среду для хранения и редактирования текстов на javascript».</p>
<p>Ну вот, собственно, сделал. А они даже не ответили.</p>

{% endblock%}
