{% extends 'page.html' %}

{% block page_title %}Александр Рулёв{% endblock %}

{% block page_content %}

<p>Я Саша!</p>
<p>Однажды, тёплым апрельским вечером я решил, что ничего не делать и умирать от скуки это плохой путь и необходимо что-то делать.</p>
<p>Поэтому создал данный сайт, который бы позволял мне видеть результат моего действия/бездействия.</p>
<p>Теперь все проекты, которые я буду начинать, я буду делать от имени <span class='communa-color'>Коммуны</span>. И возможно какой-либо из них будет успешным и я смогу создать одноимённую компанию и приглашать в неё таких же классных людей как и я.</p>
<p>Чтобы реализовывать классные проекты и делать мир чудеснее.</p>
<p>Это будет лучшая компания.</p>
<p><i>Coming soon…</i></p>
<p>Ну а пока этот момент не настал (ну и после тоже), со мной можно связаться отправив email на <a href='mailto:rulix.exec@gmail.com'>rulix.exec@gmail.com</a>.</p>
<p>Так же, помимо этой странички я есть во <a href='https://vk.com/rulexec'>вконтакте</a> (всё равно ведь найдёте), есть <a href='http://ruliov.muna.by/'>бессвязный блог</a> и <a href='http://twitter.com/Rulexec'>не болтливый твиттер</a>.</p>

{% endblock%}
