{% extends 'page.html' %}

{% block page_title %}Александр Рулёв{% endblock %}

{% block page_content %}

<p>Я Саша!</p>
<p>Так уж вышло, что я живу в городе Бресте (Беларусь) и здесь крайне мало IT-компаний, поэтому я не устроился в одну из них. А те, что есть сплошной аутсорс/веб-студии. Есть, правда, ещё парочка продуктовых, но то что они делают не моё.</p>
<p>Поэтому я решил создать эту страничку, которая никому не нужна.</p>
<p>Все проекты, которые я буду делать, отныне я буду делать от лица <span class='communa-color'>Коммуны</span> и когда-нибудь создам одноимённую компанию, в которую смогу нанимать таких же классных людей как я и мы будем делать классные проекты.</p>
<p>Это будет лучшая компания.</p>
<p><i>Coming soon…</i></p>

{% endblock%}
