#back {
    width: 10%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    opacity: 0.75;
}
#back:hover {
    background: #fcebeb;
    cursor: pointer;
}
#back i {
    position: absolute;
    top: calc(50% - 7px);
    left: calc(50% - 7px);
}
