body {
    background: #cc0000;
}

#soon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -190px;
    margin-left: -160px;
}

#footer {
    color: #ffd700;
    position: absolute;
    right: 0px;
    bottom: 0px;
    padding: 5pt;
    margin: 0px;
}
#footer a {
    color: #ffd700;
}
