{% extends 'main.html' %}

{% block title %}Коммуна{% endblock %}

{% block head %}
<style>{% include 'main.css' %}</style>
<style>{% include 'index.css' %}</style>
<script>{% include 'index.js' %}</script>
{% endblock %}

{% block body %}

<div id='to_top' title='К меню'><i class='icon-arrow-up'></i></div>

<div class='header'>
  <h1>Коммуна</h1>
  <hr>
  <ul class='nav nav-pills'>
    <li><a href='#projects'>Проекты</a></li>
    <li><a href='#people'>Люди</a></li>
    <li><a href='#info'>О Коммуне</a></li>
    <li><a href='#contacts'>Контакты</a></li>
  </ul>
</div>


<div class='container-fluid'>
  <div id='projects' class='section row-fluid text-center'>
    <div class='span6 offset3'>
      <h1><a href='/projects/'>Проекты</a></h1>
      <div>
        <a href='#info' class='communa-color'>Коммуна</a>
        <a href='projects/code_hardcorius'>Code Hardcorius</a>
        <a href='projects/wiki.js'>wiki.js</a>
        <a href='projects/codex_hardcorius'>Codex Hardcorius</a>
      </div>
    </div>
  </div>

  <div id='people' class='section row-fluid text-center'>
    <div class='span6 offset3'>
      <h1>Люди</h1>
      <div>
        <a href='people/ruliov'>Александр Рулёв</a>
      </div>
    </div>
  </div>

  <div id='info' class='section row-fluid'>
    <div class='span6 offset3'>
      <h1 class='text-center'>О Коммуне</h1>
      <p>Привет!</p>
      <p>Это веб-страничка проекта <span class='communa-color'>«Коммуна»</span>.</p>
      <p>У него пока нет чёткого определения и он состоит лишь из одного участника.</p>
      <p>Но доподлинно известно, что его участники занимаются интересным делом.</p>
    </div>
  </div>

  <div id='contacts' class='section row-fluid text-center'>
    <div class='span6 offset3'>
      <h1>Контакты</h1>
      <p><a href='mailto:rulix.exec@gmail.com'>rulix.exec@gmail.com</a></p>
      <p>Или же свяжитесь с любым <a href='#people' class='communa-color'>участником проекта</a>.</p>
    </div>
  </div>

  <div id='footer' class='top-margin row-fluid text-center'>
    <small>Писать всякие глупости в footer'е модно. Привет, я Какао! Капитан Какао!</small>
  </div>
</div>

{% endblock %}
