body {
    font-family: Georgia, serif;
}
.header {
    color: #8E1816;
    text-align: center;
    width: 40%;
    margin: 0 auto;
}
.header h1 {
    color: #8E1816;
    font-size: 3em;
    margin: 50px 0 25px 0;
}
.header ul {
    display: inline-block;
    margin: 0 auto;
    margin-top: -1em;
}
.header a {
    color: #711311;
}
.header a:hover {
    background-color: #fcebeb !important;
}

.communa-color {
    color: #8E1816;
}
a.communa-color:hover {
    color: #4D0908;
}

.section h1 {
    color: #8E1816;
    font-size: 2.15em;
    margin-bottom: 0.6em;
}
