#info p {
    font-family: "Times New Roman", serif;
    font-size: 1.4em;
    margin-bottom: 1em;
}

#footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
}

#back {
    width: 10%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    opacity: 0.75;
}
#back:hover {
    background: #fcebeb;
    cursor: pointer;
}
#back i {
    position: absolute;
    top: calc(50% - 7px);
    left: calc(50% - 7px);
}
