#info p {
    font-family: "Times New Roman", serif;
    font-size: 20px;
    margin-bottom: 25px;
}

#footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
}

#back {
    width: 100px;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    opacity: 0.75;
}
#back:hover {
    background: #fcebeb;
    cursor: pointer;
}
#back i {
    position: relative;
    top: calc(50% - 7px);
    left: 43px;
}
