{% extends 'main.html' %}

{% block title %}Проекты — Коммуна{% endblock %}

{% block head -%}
<style>{% include 'projects.css' %}</style>
<script>{% include 'projects.js' %}</script>
{%- endblock %}

{% macro card_ul(array, class) -%}
<ul{% if class %} class='{{ class}}'{% endif %}>
  {%- for item in array | subarray(0, 3) -%}
    <li>{{ item }}</li>
  {%- endfor -%}
</ul>
{%- if array.length > 3 -%}
  <div class='seek-and-hide'>
    <p><a class='hide-switcher'></a></p>
    <ul class='hide-content'>
      {%- for item in array | subarray(3) -%}
        <li>{{ item }}</li>
      {%- endfor -%}
    </ul>
  </div>
{%- endif -%}
{%- endmacro %}

{% macro card(project) -%}
<div class='well project-card'>
  <h1><a href='{% if project.id != 'communa' %}/projects/{{ project.id }}{% else %}/#info{% endif %}'>{{ project.name | escape }}</a></h1>
  {%- if project.description %}<p class='description'>{{ project.description }}</p>{% endif -%}
  <div class='info'>
    {{ card_ul(project.updates, 'updates') }}
{%- if project.todo -%}
    <p>todo:</p>
    {{ card_ul(project.todo) }}
{%- endif -%}
  </div>
</div>
{%- endmacro %}

{% block body -%}

<a href='/' title='На главную'><div id='back'><i class='icon-arrow-left'></i></div></a>

<div class='container-fluid' style='margin-top:20px'><div class='row-fluid'><div class='span8 offset2'>
  <div class='row-fluid'>
    <div class='span6'>
{%- for project in projects.success -%}
<div class='row-fluid'>{{ card(project) }}</div>
{%- endfor -%}
    </div>
    <div class='span6'>
{%- for project in projects.working -%}
<div class='row-fluid'>{{ card(project) }}</div>
{%- endfor -%}
    </div>
  </div>
  <hr>
  <div class='row-fluid'>
{%- for project in projects.dead -%}
<div class='tiles span6'>{{ card(project) }}</div>
{%- endfor -%}
  </div>
</div></div></div>

{%- endblock %}
