{% extends 'main.html' %}

{% block title %}Проекты — Коммуна{% endblock %}

{% block head -%}
<style>{% include 'projects.css' %}</style>
<script>{% include 'projects.js' %}</script>
{%- endblock %}

{% block body -%}

<a href='/' title='На главную'><div id='back'><i class='icon-arrow-left'></i></div></a>

<div class='container-fluid' style='margin-top:20px'><div class='row-fluid'><div class='span8 offset2'>
  <div class='row-fluid'>
    <div class='span6 well project-card'>
      <h1><a href='/#info'>Коммуна</a></h1>
      <p class='description'>Вымышленная организация</p>
      <div class='info'>
        <ul class='updates'>
          <li><i>2013.04.23</i> — создание раздела <b>/projects/</b> с «карточками» проектов и их последними изменениями.</li>
          <li><i>2013.04.17</i> — создание первой версии сайта.</li>
        </ul>
        <p>todo:</p>
        <ul>
          <li>Переверстать так, чтобы оно было более работающим в мобильных браузерах (в Android Browser и Opera Mini работает отвратно).</li>
          <li><s class='muted'>Нужно заиспользовать что-то вроде базы данных и админки, чтобы не коммитить и не деплоить каждый раз при изменении контента.</s> — не нужно. Достаточно лишь вынести это куда-нибудь из html'а. Мы тут не движок сайтов <span class='communa-color'>Коммун</span> делаем, а единственный в своём роде. К тому же история изменений всех этих текстов была бы интересна в перспективе.</li>
        </ul>
      </div>
    </div>
    <div class='span6'>
      <div class='row-fluid'>
        <div class='well project-card'>
          <h1><a href='/projects/tags'>&lt;Теги&gt;*</a></h1>
          <p class='description'>Найди то, знаю что</p>
          <div class='info'>
            <ul class='updates'>
              <li><i>2013.04.23</i> — старт проекта. Успешное ковыряние Redis.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class='row-fluid'>
        <div class='well project-card'>
          <h1><a href='/projects/codechat'>chat++</a></h1>
          <p class='description'>say 'Hello, World!'</p>
          <div class='info'>
            <ul class='updates'>
              <li><i>2013.04.25</i> — появление идеи в голове.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div></div></div>

{%- endblock %}
