{% extends 'main.html' %}

{% block title %}Александр Рулёв — Коммуна{% endblock %}

{% block body %}
<p>Привет! Этой странички пока нет. Но она будет, да, но пока мне некогда, лень и не нужно.</p>
<p>В данный момент я ничего не умею и ничего не достиг. Можно полистать посты в моём <a href='http://medium.com/@Rulexec'>блоге</a>.</p>
<p>Там же можно найти пост о том, <a href='https://medium.com/p/49554136ebca'>чем я сейчас занимаюсь</a>.</p>
<p>Из всего, что я вообще доделывал до чего-то более или менее завершённого есть только <a href='http://code.muna.by/'>Code Hardcorius</a>. Он не идеален, но когда-нибудь я вернусь к этому направлению и сделаю, надеюсь, достойный курс.</p>
<p>Я очень большой лентяй.</p>
<p>Если вы хотите мне что-то сказать, лучше всего будет если вы напишете мне письмо на <a href='mailto:rulix.exec@gmail.com'>rulix.exec@gmail.com</a>. Если это ну очень важно, то отправьте сообщение во <a href='http://vk.com/rulexec'>вконтакте</a>.</p>
{% endblock %}
