{% extends 'main.html' %}

{% block title %}Александр Рулёв — Коммуна{% endblock %}

{% block body %}
<p>Привет! Этой странички пока <a href='/'>нет</a>. Но она будет, да. Когда появится время — сделаю красивее.</p>
<p>В данный момент я ничего не умею и ничего не достиг. Можно полистать посты в моём <a href='http://medium.com/@Rulexec'>блоге</a>.</p>
<p>Там же можно найти пост о том, куда я желаю <a href='https://medium.com/p/d1417fd0bdb6'>развиваться</a> в ближайшем времени и то, что меня <a href='https://medium.com/p/6a12e4b33f82'>интересует сейчас</a>.</p>
<p>Я очень большой лентяй и в данный момент качусь в пропасть.</p>
<p>Если вы хотите мне что-то сказать, лучше всего будет если вы напишете мне письмо на <a href='mailto:rulix.exec@gmail.com'>rulix.exec@gmail.com</a>. Если это ну очень важно, то отправьте сообщение во <a href='http://vk.com/rulexec'>вконтакте</a>.</p>
{% endblock %}
