{% extends 'main.html' %}

{% block title %}Александр Рулёв — Коммуна{% endblock %}

{% block head -%}
<style>
* { margin: 0; padding: 0; }

@media all and (max-width: 35em) {
  body {
    width: 100%;
  }
  .container {
    padding: 0 2em;
  }
}
@media not all and (max-width: 35em) {
  body {
    width: 30em;
  }
}

body {
  margin: 0 auto;
  font-family: Georgia, serif;
}
.container div {
  margin: 4ex 0;
}

ul li p { margin: 1ex 0; }
ul li p:first-child { margin-top: 0; }
ul li p:last-child { margin-bottom: 0; }
li > ul {
  margin-left: 1em;
  margin-bottom: 1ex;
}

.container .name {
  margin-bottom: 0;
}
.container .headline {
  margin-top: 0;
  font-size: 1em;
  font-weight: normal;
  margin-bottom: 3ex;
}
.headline .titles {
  font-style: italic;
  color: gray;
}
.headline .titles a {
  color: #565656;
}
.headline .titles a:hover {
  color: #2b2b2b;
}
.headline .to-survive {
  text-align: right;
}

.ssh-rsa {
  word-wrap: break-word;
  color: gray;
  font-size: 0.75em;
}
</style>
{%- endblock %}

{% block body -%}
<div class='container'>

<div class='name'><h1>Александр Рулёв</h1></div>
<div class='headline'>
  <p class='titles'>
    <span>Самопровозглашённый самопровозгласитель</span>,
    <span>человек-диссонанс</span>,
    <span>перфекционист</span>,
    <span><a href='https://medium.com/p/92476b962060'>не-коммунист</a> в майке с серпом и молотом</span>,
    <span>любитель длинных титулов</span>,
    <span>получивший сообщение от Павла Дурова</span>,
    <span>любящий хвастаться</span>,
    <span>отказавшийся от поездки в Питер на собеседование в Одноклассники, чтобы остаться в университете</span>,
    <span>из которого был отчислен в конце того же семестра</span>,
    <span>гулявший по Барвихе</span>,
    <span>чуть было не отправившийся в Дубай</span>,
    <span>два месяца проживший в небоскрёбе в Москва-сити</span>,
    <span>убиравший за хорьками</span>,
    <span>ушедший в десантно-штурмовую бригаду с полным отсутствием физической подготовки</span>
  </p>
  <p class='to-survive'>— чтобы выжить.</p>
</div>

<div>
  <ul>
    <li><span>email:</span> <a href='mailto:rulix.exec@gmail.com'>rulix.exec@gmail.com</a> / <a href='mailto:alexander.ruliov@gmail.com'>alexander.ruliov@gmail.com</a></li>
    <li><span>ВКонтакте:</span> <a href='https://vk.com/alexander_ruliov'>@alexander_ruliov</a></li>

    <li style='margin-top: 3ex'>
      <p>Résumé:</p>
      <ul>
        <li><span>Технологии:</span> <a href='https://gist.github.com/Rulexec/7e9ade7ecea307dad917'>gist</a></li>
        <li><span>Друзья:</span> <a href='https://medium.com/@rulexec/f192471efb2d'>Where are you now, my companjera?</a></li>
      </ul>
    </li>
    <li><span>GitHub: </span> <a href='https://github.com/Rulexec'>@Rulexec</a></li>
    <li><span>LinkedIn:</span> <a href='https://www.linkedin.com/pub/alexander-ruliov/27/389/851'>Alexander Ruliov</a></li>

    <li style='margin-top: 3ex'><span>Instagram:</span> <a href='https://instagram.com/alexander.ruliov/'>@alexander.ruliov</a></li>
    <li><span>Medium:</span> <a href='http://medium.com/@Rulexec'>@Rulexec</a></li>

    <li style='margin-top: 3ex'><span>[0; 1):</span> <a href='http://code.muna.by/'>Code Hardcorius</a></li>
    <li>
      <p><span>Долгосрочная цель:</span> <a href='https://medium.com/p/49554136ebca'>Triangle</a></p>
      <p>На данный момент всё ещё на стадии поиска решения проблемы создания метатеории <a href='http://homotopytypetheory.org/'>HoTT</a> (формального описания такого типа, элементами которого бы являлись все возможные значения, которые можно построить в HoTT).</p>
    </li>
  </ul>
</div>

<div><pre class='ssh-rsa'>ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAqgrLbiEWxLUW/2Wx4ifkD1HJkjvh3eHu8+qKFgG9LY622t9lpEwmhSb/YUF9ecIl+MT5JOJuM6mX1Nqd2vhpJ1QxTSrZRzcoJLGgPwC7x8Wqaf/wpryLaKZMNRke6ho/G5Kby83olsBD4kL8yds2xI5RBLLfYBpgv10fildbn3Ro+1/SK/r8q4j/WSW3gr/PVu75a06+R9Sy9PdATTHICudwwS41g4g0UMiwe/s3C1jnShsLMJZ/ydZJKtp6gGl7WGj+BbbEtiaJiKYXQIGkbVUvjYFLf/QdN0iQyi+Pd85fstHhVJjPxycBEN1oEMIsJ6hm3HiRN1CRqBOu2p1baQ== ruliov@ruliov</pre></div>

</div>
{%- endblock %}
