{% extends 'page.html' %}

{% block title %}Добро пожаловать! — Коммуна{% endblock %}
{% block page_title %}Добро пожаловать в Коммуне!{% endblock %}

{% block page_content %}

<p>Здравствуйте! Вы попали на страничку вымышленной организации <span class='communa-color'>«Коммуна»</span> с совсем не вымышленным сайтиком.</p>
<p>Наша цель — сделать мир лучше. В смысле совсем. Полностью. Но так как ресурсов в данный момент у нас совершенно нет, мы начали с мелочей, с того, что в наших силах. Собственно, из-за какой-то из этих мелочей вы и оказались здесь.</p>
<p>У вас небольшой выбор, что делать дальше, здесь лишь три пути. Можете сходить на <a href='/' class='communa-color'>главную страницу</a> и походить там по ссылкам, можете сразу открыть <a href='/projects/' class='communa-color'>статус проектов</a>, которые находятся в разработке. Ну и конечно же, вы можете просто закрыть страницу, у нас ведь свобода выбора.</p>
<p>Если вам кажется, что вы <b>можете/умеете</b> что-то делать, но не знаете, чем именно вам заняться и умираете от скуки, то вероятно мы сможем вам чем-либо помочь. <a href='/#contacts' class='communa-color'>Обратитесь к нам.</a></p>

{% endblock%}
