{% extends 'page.html' %}

{% block title %}Добро пожаловать! — Коммуна{% endblock %}
{% block page_title %}Добро пожаловать в Коммуне!{% endblock %}

{% block page_content %}

<p>Здравствуйте! Вы попали на страничку вымышленной организации <span class='communa-color'>«Коммуна»</span> с совсем не вымышленным сайтиком.</p>
<p>Наша цель — сделать мир лучше. В смысле совсем. Полностью.</p>
<p>Вы можете посмотреть <a href='/projects/'>текущий статус наших проектов</a>, или же начать с <a href='/'>главной страницы</a>.</p>
<p><i>TODO: добавить котиков.</i></p>

{% endblock%}
